body {
	background-color:#000000;
	background-image: url('Resources/print.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	background-size: 50% auto;
}

h1 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 300;
	font-size:54px;
	letter-spacing:0.12em;
	color: #FFFFFF;
}

h2 {
	font-family: Helvetica;
	font-style: bold; 
	font-weight:normal;
	font-size:32px ;
	padding-top:50px;
	padding-bottom:25px;
	color: #FFFFFF;
}

h3 {
	font-family: Helvetica;
	font-style: normal;
	font-weight:normal;
	font-size:32px; 
	padding-top:20px;

	color: #FFFFFF;
}

.parent {
	position: absolute;
	top: 50px;
	left: 130px;
}

.banner{

}

a:link {
	font-family: Helvetica;
	font-size: 22px;
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
}

.icon {
	position: relative;;
	width: 70px;
	height: 63px;
	top: -100px;
	left: 320px;
}

.background-image {
	postion: absolute;
	width: 816px;
	height: 960px;
	left: 700px;
	top: -36px;
}

a.button3{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
}
a.button3:hover{
 background-color:#4095c6;
}
@media all and (max-width:30em){
 a.button3{
  display:block;
  margin:0.2em auto;
 }
}
